.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.test {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  overflow: hidden;
}

.overlayClassName {
  top: 20% !important;
  left: 30% !important;
  right: 30% !important;
  bottom: 20% !important;
  overflow: hidden;
  background-color: rgba(9, 9, 9, 0.85);
  position: fixed;
}
